<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer DatosPersonales</title>
</head>
<body>
     

    {% for d in datospersonales %}
        <li>{{d}}</li>  
        <button>
            <a href="{% url 'eliminarDatosPersonales' d.direccion %}"> Eliminar </a>
            <a href="{% url 'editarDatosPersonales' d.direccion %}"> Editar </a>
        </button>
    {% endfor %}

    <br>
    <a href="datospersonales">Agregar otro DatosPersonales</a>

    

</body>
</html>