<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Sensores</title>
</head>
<body>
     

    {% for s in sensores %}
        <li>{{s}}</li>  
        <button>
            <a href="{% url 'eliminarSensor' s.identificacion %}"> Eliminar </a>
            <a href="{% url 'editarSensor' s.identificacion %}"> Editar </a>
        </button>
    {% endfor %}

    <br>
    <a href="sensores">Agregar otro Sensor</a>

    

</body>
</html>