<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sensores </title>
</head>
<body>

    <h1> Sensores </h1>
    <ul>
        {% for sensor in object_list %}

            <li>
                <p>Identificacion: {{ Sensores.identificacion }} </p>
                <p> 
                    <a href="{% url 'Detail' Sensores.identificacion %}">Ver</a> | 
                    <a href="{% url 'Edit' Sensores.identificacion %}">Editar</a> | 
                    <a href="{% url 'Delete' Sensores.identificacion %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'New'  %}">Nuevo</a> | 

    <br>

    <button>
        <a href="../cursos">Volver</a>
    </button>

</body>
</html>
